:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
}
/* Base */
body {
  color: var(--bakery-landing-1-s1);
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--bakery-landing-1-background);
  background-color: var(--bakery-landing-1-c2);
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  cursor: pointer;
}

.button:hover {
  color: var(--bakery-landing-1-s3);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--bakery-landing-1-background);
}

.link:hover {
  color: var(--bakery-landing-1-c2);
}

/* Hero section */
.hero-title {
  color: var(--bakery-landing-1-background);
}

.hero-title .accent {
  color: var(--bakery-landing-1-c2);
}

/* Advantages section */
.advantages-list {
  color: var(--bakery-landing-1-background);
  background-color: var(--bakery-landing-1-c2);
}

/* Title section */
.section-title .accent {
  color: var(--bakery-landing-1-s3);
}
